@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ContactPage-Container{
    font-family: "GmarketSansMedium";
    .down-btn{
        position: absolute;
        color: #FF204E;
        bottom: 3%;
        cursor: pointer;
        svg{
            font-size: 3rem;
        }
    }
    .ContactPage-Title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(../../../public/images/contact-back2.png);
        background-size: cover;
        background-position: center;
        .down-btn{
            animation: bounce 2s infinite;
            transform: translateX(-50%);
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(-30px);
                }
                60% {
                    transform: translateY(-15px);
                }
            }
        }
        h3{
            font-size: 30px;
            margin-bottom: 50px;
            text-align: center;
        }
        h5{
            font-size: 20px;
            margin-bottom: 50px;
            text-align: center;
        }
        .ContactHeader{
            width: 100%;
            height: 100%;
            padding-top: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 2s linear;
            opacity: 0;
            &.in-view{
                opacity: 1;
            }
        }
    }
    .WhereWeWorks{
        padding-top: 12vh;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s linear;
        position: relative;
        background-color: #FFF;
        h1{
            font-size: 2.5rem;
            color: #FF204E;
            text-align: center;
            width: 70%;
            position: relative;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            margin-bottom: 50px;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
            &::after{
                content: "";
                width: 100px;
                height: 7px;
                background-color: #FF204E;
                position: absolute;
                bottom: -10px;
                right: 50%;
                transform: translateX(50%);
            }
        }
        h5{
            margin-bottom: 30px;
            color: #333;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            transition-delay: 1s;
            margin-bottom: 50px;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
        }
        .ContactMap{
            width: 50%;
            height: 55vh;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            transition-delay: 1.5s;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
            margin-bottom: 50px;
            iframe{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, .5);
            }
        }
    }
    .ContactUs{
        padding-top: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F7F8;
        h1{
            font-size: 2.5rem;
            color: #FF204E;
            text-align: center;
            width: 70%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 30px;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            margin-bottom: 50px;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
            &::after{
                content: "";
                width: 100px;
                height: 7px;
                background-color: #FF204E;
                position: absolute;
                bottom: -10px;
                right: 50%;
                transform: translateX(50%);
            }
        }
        h5{
            margin-bottom: 50px;
            color: #333;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            transition-delay: 1s;
            margin-bottom: 50px;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
        }
        .ContactForm{
            width: 70%;
            margin: 0 auto;
            opacity: 0;
            transition: all 1s linear;
            transform: translateY(50px);
            transition-delay: 1.5s;
            margin-bottom: 50px;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}