/* Font Face */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Main Container */
.MHzHome-container {
    font-family: "GmarketSansMedium";
    /* Keyframes */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    @keyframes blink {
        from, to {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    /* General Button */
    .down-btn {
        position: absolute;
        bottom: 3%;
        transform: translateX(-50%);
        cursor: pointer;
        animation: bounce 2s infinite;
        svg {
            font-size: 40px;
        }
    }
    /* Header */
    .MHzHome-Header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../../../public/images/main-back-1.jpg);
        background-size: cover;
        background-position: center;
        .down-btn {
            color: #7695FF;
        }
        .QCMBox{
            width: 430px;
            font-size: 2rem;
            font-weight: bold;
            color: #EEEEEE;
            text-align: right;
            margin-bottom: 40px;
            position: relative;
            padding-bottom: 20px;
            border-bottom: 10px double #EEEEEE;
            h1{
                width: 100%;
                min-width: 430px;
                margin: 10px auto;
                display: flex;
                justify-content: space-between;
                &.QCMQ{
                    justify-content: flex-end;
                }
                p{
                    font-size: inherit;
                    z-index: 2;
                }
            }
            .underlineBox{
                position: absolute;
                bottom: 35px;
                right: 0;
                width: 0;
                height: 20px;
                background-color: #C73659;
                z-index: 1;
                transition: all 2s linear;
                &.in-view{
                    width: 150px;
                }
            }
        }
        .blinkingP{
            font-size: 25px;
            font-weight: bold;
            color: #EEEEEE;
            display: flex;
            align-items: center;
            filter: drop-shadow(10px 10px 5px rgba(255, 255, 255, .3));
            z-index: 2;
            #blinking-cursor {
                width: 2px;
                height: 25px;
                background-color: #EEEEEE;
                margin-left: 8px;
                animation: blink .7s step-end infinite;
            }
        }
    }
    /* Content One */
    .MHzHome-Content-One {
        padding-top: 12vh;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s linear;
        position: relative;
        background-color: #F5F7F8;
        svg {
            color: #7695FF;
            font-size: 2.2rem;
            margin: 0 40px 0 30px;
        }
        .down-btn {
            color: #7695FF;
            animation: bounce .5s linear;
            left: 50%;
            svg {
                font-size: 40px;
                margin: 0;
            }
        }
        h1 {
            font-size: 2.5rem;
            color: #7695FF;
            text-align: center;
            width: 70%;
            position: relative;
            opacity: 0;
            transition: all .5s linear;
            transform: translateY(50px);
            margin-bottom: 30px;
            &::after {
                content: "";
                width: 100px;
                height: 7px;
                background-color: #7695FF;
                position: absolute;
                bottom: -10px;
                right: 50%;
                transform: translateX(50%);
            }
        }
        h5 {
            margin-bottom: 50px;
            color: #333;
            opacity: 0;
            transform: translateY(50px);
        }
        ul {
            font-size: .8rem;
            color: #333;
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
            list-style: none;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(50px);
            li {
                margin-bottom: 20px;
                width: 750px;
                padding: 30px 15px;
                display: flex;
                align-items: center;
                justify-content: start;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                background-color: #FFF;
                opacity: 0;
                transform: translateY(100px);
            }
        }
        div {
            text-align: left;
            p {
                font-size: .8rem;
            }
            h4 {
                font-size: 1rem;
                letter-spacing: 1px;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 3px solid #d3d3d3;
                width: 550px;
            }
        }
    }

    /* Content Two */
    .MHzHome-Content-Two {
        padding-top: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            color: #7695FF;
        }
        h1 {
            font-size: 2.5rem;
            color: #7695FF;
            text-align: center;
            width: 70%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 50px;
            opacity: 0;
            transform: translateY(50px);
            &::after {
                content: "";
                width: 100px;
                height: 7px;
                background-color: #7695FF;
                position: absolute;
                bottom: -10px;
                right: 50%;
                transform: translateX(50%);
            }
        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 20px;
            text-align: center;
            width: 100%;
        }
        h5{
            font-size: .8rem;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }
        &>div{
            width: 100%;
            height: 100vh;
            position: relative;
        }
        .two-one{
            .two-one-content{
                opacity: 0;
                transform: translateY(50px);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .comunication-image{
                    background-image: url(../../../public/images/comunication.png);
                    background-size: cover;
                    background-position: center;
                    width: 800px;
                    height: 250px;
                }
            }
            .comunication-box{
                margin-top: 30px;
                width: 100%;
                background: #d3d3d3;
                opacity: 0;
                transform: translateY(50px);
                h4{
                    text-align: center;
                    padding: 20px;
                    font-size: 1.5rem;
                }
            }
            .down-btn{
                bottom: 155px;
                color: #7695FF;
                animation: bounce .5s linear;
                left: 50%;
            }
        }
        .two-two{
            height: 88vh;
            .two-two-content{
                width: 100%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transform: translateY(50px);
                .comunication-image-two{
                    background-image: url(../../../public/images/comunication-two.png);
                    background-size: cover;
                    background-position: center;
                    width: 850px;
                    height: 300px;
                }
            }
            .down-btn{
                bottom: 52px;
                color: #7695FF;
                animation: bounce .5s linear;
                left: 50%;
            }
        }
        .two-three{
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #F5F7F8;
            .two-three-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 2;
                font-size: 1.3rem;
                padding: 50px;
                opacity: 0;
                transform: translateY(50px);
                .customer-image{
                    background-image: url(../../../public/images/customer.jpg);
                    background-size: cover;
                    background-position: center;
                    width: 500px;
                    height: 250px;
                    margin-top: 30px;
                }
            }
            .footer-box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.5rem;
                padding: 40px;
                background-image: url(../../../public/images/white_back.jpg);
                background-size: cover;
                background-position: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }
    }    
    .in-view {
        transition: all 1s linear;
        opacity: 1 !important; 
        transform: translateY(0) !important;
    }
}