@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.ServiceNCH-container{
    font-family: "GmarketSansMedium";
    width: 100%;
    .down-btn{
        color: #0D7C66;
        position: absolute;
        bottom: 3%;
        transform: translateX(-50%);
        cursor: pointer;
        animation: bounce 2s infinite;
        svg{
            font-size: 40px;
        }
    }
    .ServiceNCH-title{
        height: 100vh;
        width: 100%;
        background-image: url(../../../public/images/collaboration-back.jpg);
        background-size: cover;
        background-position: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10vh;
        padding-top: 3vh;
        position: relative;
        .NCH-title-BG{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
        .NCH-header-btn{
            position: absolute;
            width: 70%;
            top: 70%;
            z-index: 3;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: skew(60deg);
            &.in-view{
                opacity: 1;
                transform: skew(0);
            }
            a{
                margin-right: 10px;
                color: #C73659;
                font-size: 1.3rem;
                text-decoration: none;
                transition: all 0.5s ease-in-out;
                padding: 20px 50px 20px 50px;
                border: 3px solid #FFF;
                color: #FFF;
                &:nth-child(1){
                    background-color: #FFF;
                    color: #000;
                }
                &:hover{
                    background-color: #C73659;
                    color: #FFF;
                }
            }
        }
        h1{
            font-size: 2.5rem;
            color: #FFF;
            text-align: left;
            width: 70%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 50px;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(200px);
            &.in-view{
                opacity: 1;
                transform: translateX(0);
            }
            &::after{
                content: "";
                width: 200px;
                height: 7px;
                background-color: #C73659;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
        h5 {
            width: 70%;
            text-align: left;
            margin: 0 auto;
            color: #FFF;
            font-size: 1.5rem;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(200px);
            transition-delay: 1s;
            &.in-view{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .ServiceNCH-Challenges{
        width: 100%;
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        padding-bottom: 10vh;
        background-color: #151515;
        color: #EEEEEE;
    }
    .ServiceNCH-Service{
        width: 100%;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        background-color: #E8E8E8;
        color: #000;
    }
    .ServiceNCH-vision{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: url(../../../public/images/slider-three.jpg);
        background-size: cover;
        background-position: center;
    }
    .CV-content-three{
        width: 100%;
        padding-top: 10vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: linear-gradient(to bottom, #E8E8E8 0%, rgb(169, 29, 58) 200%);;
        .CV-title-three{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            opacity: 0;
            transform: translateY(20%);
            transition: all 1s ease-in-out;
            &.in-view{
                opacity: 1;
                transform: translateY(0);
            }
            h1 {
                font-size: 2.5rem;
                color: #000;
                text-align: center;
                width: 70%;
                position: relative;
                margin-bottom: 0;
                &::after {
                    content: "";
                    width: 100px;
                    height: 7px;
                    background-color: #C73659;
                    position: absolute;
                    bottom: -10px;
                    right: 50%;
                    transform: translateX(50%);
                }
            }
        }   
        .CV-description-three{
            width: 100%;
        }     
    }
}