@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.ServiceNCH-container{
    font-family: "GmarketSansMedium";
    width: 100%;
    .down-btn{
        color: #0D7C66;
        position: absolute;
        bottom: 3%;
        transform: translateX(-50%);
        cursor: pointer;
        animation: bounce 2s infinite;
        svg{
            font-size: 40px;
        }
    }
    .ServiceNCH-title{
        height: 100vh;
        width: 100%;
        background-image: url(../../../public/images/collaboration-back.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10vh;
        h1{
            font-size: 2.5rem;
            color: #FFF;
            text-align: left;
            width: 70%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 50px;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(200px);
            &.in-view{
                opacity: 1;
                transform: translateX(0);
            }
            &::after{
                content: "";
                width: 200px;
                height: 7px;
                background-color: #C73659;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
        h5 {
            width: 70%;
            text-align: left;
            margin: 0 auto;
            color: #FFF;
            font-size: 1.5rem;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(200px);
            transition-delay: 1s;
            &.in-view{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .ServiceNCH-Challenges{
        width: 100%;
        height: 100vh;
        padding-top: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        padding-bottom: 10vh;
        background-color: #151515;
        color: #EEEEEE;
    }
    .ServiceNCH-Service{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        background-color: #A91D3A;
        color: #EEEEEE;
        .ServiceList{
            width: 100%;
            text-align: center;
            line-height: 2;
            font-size: 1.5rem;
            transition: all 1s ease-in-out;
            opacity: 0;
            transform: translateX(100px);
            &:nth-child(2){
                transition-delay:.5s;
            }
            &:nth-child(3){
                transition-delay: 1s;
            }
            &.in-view{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .ServiceNCH-vision{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .VisionList{
            text-align: center;
            line-height: 2;
            transition: all 1s ease-in-out;
            // opacity: 0;
            // transform: translateX(100px);
            // &:nth-child(2){
            //     transition-delay:.5s;
            // }
            // &:nth-child(3){
            //     transition-delay: 1s;
            // }
            // &:nth-child(4){
            //     transition-delay: 1.5s;
            // }
            // &.in-view{
            //     opacity: 1;
            //     transform: translateX(0);
            // }
        }   
    }
}