@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.NCHService-card{
    width: 70%;
    height: 150px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: translateX(100px);
    &.in-view{
        opacity: 1;
        transform: translateX(0);
    }
    .NCHService-line{
        width: 10%;
        height: 10px;
        background-color: #C73659;
        margin-right: 5%;
        border-radius: 10px;
    }
    .NCHService-description{
        width: 80%;
        font-family: "TTLaundryGothicB";
        line-height: 2;
    }
}